@if (helpModal.openSection(); as section) {
  <div class="help-modal-backdrop" (click)="helpModal.close()"></div>
  <div class="help-modal">
    <div class="help-modal-header">
      <span class="help-modal-title">{{ 'help.' + section + '.title' | t }}</span>
      <button
        class="icon-btn help-modal-close"
        type="button"
        [appTooltip]="'profile.closeToast' | t"
        tooltipPosition="top"
        (click)="helpModal.close()"
      >
        ×
      </button>
    </div>
    <div class="help-modal-body">{{ 'help.' + section + '.body' | t }}</div>
  </div>
}
