<div class="tool-panel">
  <div class="panel-header">
    <span class="panel-header-label-group">
      <span class="header-label">
        <img [src]="headerIcon" class="header-icon" alt="" />
        {{ 'damageMeter.header' | t }}
      </span>
      <button
        type="button"
        class="icon-btn help-icon-btn tooltip-below"
        [attr.data-tooltip]="'help.tooltip' | t"
        (click)="helpModal.open('combat')"
      >
        ?
      </button>
    </span>
    <button
      class="collapse-btn tooltip-below tooltip-align-right"
      [attr.data-tooltip]="'damageMeter.collapseHint' | t"
      (click)="combatPanel.setCollapsed(true)"
    >
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M15 6l-6 6 6 6" />
      </svg>
    </button>
  </div>

  <div class="panel-body meter-body">
    @if (activeFightIds().length > 1) {
      <div class="fight-tabs-row">
        @for (id of activeFightIds(); track id; let i = $index) {
          <button
            type="button"
            class="fight-tab"
            [class.selected]="id === displayedFightId()"
            (click)="selectFight(id)"
          >
            {{ tabLabel(i) }}
          </button>
        }
      </div>
    }
    @if (hasCurrentFight()) {
      <div class="fight-stats-row">
        <span class="fight-turns"
          >{{ currentFightTurns() }} {{ 'damageMeter.turns' | t }}</span
        >
        <span class="fight-stats-sep">|</span>
        <span class="fight-duration">{{ formatDuration(currentFightDurationMs()) }}</span>
      </div>
    }
    <app-entity-damage-list
      [title]="'damageMeter.allies' | t"
      side="ally"
      [rows]="allyRows()"
      [interactive]="true"
      [emptyMessage]="'damageMeter.emptyAllies' | t"
    />
    <div class="meter-separator"></div>
    <app-entity-damage-list
      [title]="'damageMeter.enemies' | t"
      side="enemy"
      [rows]="enemyRows()"
      [interactive]="true"
      [emptyMessage]="'damageMeter.emptyEnemies' | t"
    />
  </div>
</div>
