@if (request(); as req) {
  <div class="confirm-delete-backdrop" (click)="cancel()"></div>
  <div
    #popover
    class="confirm-delete-popover"
    tabindex="-1"
    [style.right.px]="req.right"
    [style.top.px]="req.top"
    (keydown)="onKeydown($event)"
  >
    {{ req.message }}
    <button
      type="button"
      class="confirm-delete-yes"
      [class.selected]="selectedIndex() === 0"
      (click)="confirm()"
    >
      {{ 'tracker.confirmYes' | t }}
    </button>
    <button
      type="button"
      class="confirm-delete-no"
      [class.selected]="selectedIndex() === 1"
      (click)="cancel()"
    >
      {{ 'tracker.confirmNo' | t }}
    </button>
  </div>
}
