<div class="app-page">
  @if (title(); as pageTitle) {
    <header class="app-page-header">
      <button
        class="back-btn tooltip-align-left tooltip-below"
        type="button"
        (click)="back.emit()"
        [attr.data-tooltip]="'profile.back' | t"
      >
        <app-icon name="chevron-left" [strokeWidth]="2" [size]="18" />
        <span>{{ 'profile.back' | t }}</span>
      </button>
      <span class="app-page-title">{{ pageTitle }}</span>
      <div class="app-page-actions">
        <ng-content select="[pageActions]" />
      </div>
    </header>
  }

  <div class="app-page-body">
    <div class="app-page-content">
      <ng-content />
    </div>

    <app-footer />
  </div>
</div>
