<div class="character-add-form">
  <button
    class="character-add-class-trigger"
    type="button"
    [appTooltip]="'profile.rosterPickClass' | t"
    (click)="openClassPicker($event)"
  >
    @if (avatarIndex() !== null) {
      <app-avatar-icon [index]="avatarIndex()!" />
    } @else {
      <app-directional-slideshow
        class="class-trigger-slideshow"
        [items]="avatarIndices"
        [itemTemplate]="avatarFrame"
      />
      <ng-template #avatarFrame let-index>
        <app-avatar-icon [index]="index" />
      </ng-template>
    }
  </button>
  <div class="character-add-fields">
    <input
      type="text"
      class="character-add-name-input"
      [placeholder]="'profile.rosterCharacterNamePlaceholder' | t"
      [value]="name()"
      (input)="setName($any($event.target).value)"
      (keydown.enter)="commit(); $event.preventDefault()"
    />
    <button
      class="primary-btn character-add-submit-btn"
      type="button"
      [disabled]="!canAdd()"
      (click)="commit()"
    >
      {{ 'tracker.add' | t }}
    </button>
  </div>
</div>
